body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.list {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.list:hover {
  color: #404bbf;
}
.list:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}
.links {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
}
.links:hover {
  color: #404bbf;
}
.links:focus {
  color: #404bbf;
}

/* logo */
.logo-web {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

/* Main content */
/* Section solutions */
.section-solution {
  margin: 0 auto;
  background: #2e2f42;
  padding: 188px 0;
}

.section-title-solution {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

.order-service-btn {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 48px auto;
}

.order-service-btn:hover {
  background: #404bbf;
}
.order-service-btn:focus {
  background: #404bbf;
}
/* Our features */
.section-features {
  margin: 0 auto;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.features {
  display: flex;
  gap: 24px;
}

.item-features {
  width: calc((100% - 72px) / 4);
}

.our-features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 8px;
}

.our-features-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our team */
.section-team {
  margin: 0 auto;
  padding: 120px 0;
  background: #f4f4fd;
}

.section-title-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team {
  display: flex;
  gap: 24px;
}

.team-players {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: calc((100% - 72px) / 4);
}

.container-our-team-descr {
  padding: 32px 0;
}

.our-team-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-descr {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our portfolio */
.section-portfolio {
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  background: #fff;
}

.section-title-portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.container-our-portfolio-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-cards {
  width: calc((100% - 48px) / 3);
}

/* Footer */

.section-footer {
  margin: 0 auto;
  padding: 100px 0;
  background: #2e2f42;
}

.logo-web-footer {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-futter {
  color: #f4f4fd;
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
